---
import { getCollection, render } from "astro:content"; // <--- Importamos 'render'
import ProjectLayout from "../../layouts/ProjectLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  
  return projects.map((project) => ({
    params: { slug: project.id }, 
    props: { project },
  }));
}

const { project } = Astro.props;

// Cambiamos project.render() por render(project)
const { Content } = await render(project); 
---

<ProjectLayout
  title={project.data.title}
  description={project.data.description}
  startDate={project.data.startDate}
  endDate={project.data.endDate}
  image={project.data.image}
  skills={project.data.skills}
  demoLink={project.data.demoLink}
  sourceLink={project.data.sourceLink}
>
  <div class="prose max-w-none">
    <Content /> 
  </div>
</ProjectLayout>